---
permalink: /methods/
layout: default
title: Methods
collection: methods
---

  <h1>{{ page.title }}</h1>

{% assign byCategory = site.methods | group_by: 'category' %}
{% for cat in byCategory %}
  <h3>{{ cat.name }}</h3>
  {% assign byType = cat.items | group_by: 'type' %}
  {% for type in site.types %}
    {% assign currentType = byType | where:"name", type | first %}
    <h4>{{ currentType.name | capitalize }}</h4>

      {% for item in currentType.items %}
          <a href="{{ item.url }}"><h2>{{ item.title }}</h2></a>{{ item.excerpt }}</li>
      {% endfor %}

  {% endfor %}
{% endfor %}
