---
permalink: /methods/
layout: default
title: Methods
collection: methods
---

  <h1>{{ page.title }}</h1>

{% assign byCategory = site.methods | group_by: 'category' %}
{% for cat in byCategory %}
  <h3>{{ cat.name }}</h3>
  {% assign byType = cat.items | group_by: 'type' %}
  {% for type in site.types %}
    {% assign currentType = byType | where:"name", type | first %}
    <h4>{{ currentType.name | capitalize }}</h4>

      {% for item in currentType.items %}
          <a href="{{ item.url }}"><h2>{{ item.title }}</h2></a>{{ item.excerpt }}</li>
      {% endfor %}

  {% endfor %}
{% endfor %}



<ul class="tabs" data-tabs id="example-tabs">
  <li class="tabs-title"><a href="#panel1" aria-selected="true">Articles</a></li>
  <li class="tabs-title"><a href="#panel2">Videos</a></li>
  <li class="tabs-title"><a href="#panel3">Papers</a></li>
  <li class="tabs-title"><a href="#panel4">Case Studies</a></li>
  <li class="tabs-title"><a href="#panel5">Guides</a></li>
</ul>

<div class="tabs-content" data-tabs-content="example-tabs">
  <div class="tabs-panel is-active" id="panel1">
    <p>#1 Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
  <div class="tabs-panel" id="panel2">
    <p>#2 Vivamus hendrerit arcu sed erat molestie vehicula. Sed auctor neque eu tellus rhoncus ut eleifend nibh porttitor. Ut in nulla enim. Phasellus molestie magna non est bibendum non venenatis nisl tempor. Suspendisse dictum feugiat nisl ut dapibus.</p>
  </div>
</div>



